<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <p th:text="${results}">users</p>
    <table>
        <tr>
            <th:block th:each="heading : ${jsonDataList.get(0).names()}">
                <th th:text="${heading}"></th>
            </th:block>
        </tr>

        <tr th:each="item : ${jsonDataList}">
            <th:block th:each="name : ${item.names()}">
                <td th:text="${item.get(name)}"></td>
            </th:block>
        </tr>
    </table>
</body>
<script>
    const BASE_URL = "http://localhost:8080"
    const SESSION_REQUEST_URL = "/api/admin/sessions"
    const sessionsApi = async () => {
        const response = await fetch(BASE_URL + SESSION_REQUEST_URL, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            },
        })
        return await response.json()
    }
    const results = sessionsApi()
    console.log("sessions : " + results)
</script>
</html>